{% extends 'base/products.html' %}

{% block title %}
    {{ block.super }} Order Recieved
{% endblock title %}


{% block shop_main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Your Shopping Cart is Empty!</h4>
                    <p>
                        Pleaes add some (atleast one) items to your shopping cart to proceed.
                    </p>
                    <hr>
                    <a href="{% url 'shop:products' %}" class="btn btn-success">
                        Back to shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock shop_main %}

    